﻿@page "/"

<h1>DesignTemplate</h1>


<DxDataGrid Data="@Data" T="Item" CssClass="w-100">
    <Columns>
        <DxDataGridColumn Field="Name" />
        <DxDataGridColumn Field="LName" />
    </Columns>
</DxDataGrid>