﻿.dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:not(:focus):not(:hover) {
    color: #737373 !important
}

.dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:focus, .dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:hover {
    color: #fff !important
}

.dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:focus:before, .dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:hover:before {
    opacity: 1;
    background-color: #fe7109;
    width: calc(100% + .816em);
    height: calc(100% + .816em);
    left: -.408em;
    top: -.408em
}

.dx-blazor-tagbox .dx-blazor-tag .btn-group-sm > .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:focus:before, .dx-blazor-tagbox .dx-blazor-tag .btn-group-sm > .btn.dxbs-cmd-btn.dxbs-tag-remove-btn:hover:before, .dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn.btn-sm:focus:before, .dx-blazor-tagbox .dx-blazor-tag .btn.dxbs-cmd-btn.dxbs-tag-remove-btn.btn-sm:hover:before {
    width: calc(100% + .408em);
    height: calc(100% + .408em);
    left: -.204em;
    top: -.204em
}

.dxbs-focus-hidden .btn-primary.focus, .dxbs-focus-hidden .btn-primary:focus {
    border-color: #fe7109;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-primary.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-primary:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #fff;
    background-color: #fe7109
}

.dxbs-focus-hidden .btn-outline-primary.focus, .dxbs-focus-hidden .btn-outline-primary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-primary.focus, .dxbs-focus-hidden .btn-group .btn-primary:focus, .dxbs-focus-hidden .btn-group-vertical .btn-primary.focus, .dxbs-focus-hidden .btn-group-vertical .btn-primary:focus, .dxbs-focus-hidden .input-group .btn-primary.focus, .dxbs-focus-hidden .input-group .btn-primary:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-primary.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-primary:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-primary.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-primary:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-primary.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-primary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-primary.focus, .dxbs-focus-hidden .input-group > .btn-primary:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-primary.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-primary:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-primary.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-primary:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-primary.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-primary:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-secondary.focus, .dxbs-focus-hidden .btn-secondary:focus {
    border-color: #fff
}

.dxbs-focus-hidden .btn-secondary.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-secondary:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #212529;
    background-color: #fff
}

.dxbs-focus-hidden .btn-secondary.focus, .dxbs-focus-hidden .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .btn-secondary:focus, .dxbs-focus-hidden .btn-secondary:focus:not(:disabled):not(.disabled) {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-outline-secondary.focus, .dxbs-focus-hidden .btn-outline-secondary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-secondary.focus, .dxbs-focus-hidden .btn-group .btn-secondary:focus, .dxbs-focus-hidden .btn-group-vertical .btn-secondary.focus, .dxbs-focus-hidden .btn-group-vertical .btn-secondary:focus, .dxbs-focus-hidden .input-group .btn-secondary.focus, .dxbs-focus-hidden .input-group .btn-secondary:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-secondary.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-secondary:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-secondary.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-secondary:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-secondary.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-secondary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .btn-group .btn-secondary:focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .btn-group-vertical .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .btn-group-vertical .btn-secondary:focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group .btn-secondary:focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-secondary:focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .input-group-append .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .input-group-append .btn-secondary:focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .input-group-prepend .btn-secondary.focus:not(:disabled):not(.disabled), .dxbs-focus-hidden .input-group > .input-group-prepend .btn-secondary:focus:not(:disabled):not(.disabled) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-secondary.focus, .dxbs-focus-hidden .input-group > .btn-secondary:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-secondary.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-secondary:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-secondary.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-secondary:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-secondary.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-secondary:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-success.focus, .dxbs-focus-hidden .btn-success:focus {
    border-color: #10893e;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-success.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-success:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #fff;
    background-color: #10893e
}

.dxbs-focus-hidden .btn-outline-success.focus, .dxbs-focus-hidden .btn-outline-success:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-success.focus, .dxbs-focus-hidden .btn-group .btn-success:focus, .dxbs-focus-hidden .btn-group-vertical .btn-success.focus, .dxbs-focus-hidden .btn-group-vertical .btn-success:focus, .dxbs-focus-hidden .input-group .btn-success.focus, .dxbs-focus-hidden .input-group .btn-success:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-success.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-success:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-success.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-success:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-success.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-success:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-success.focus, .dxbs-focus-hidden .input-group > .btn-success:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-success.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-success:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-success.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-success:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-success.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-success:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-info.focus, .dxbs-focus-hidden .btn-info:focus {
    border-color: #0078d7;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-info.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-info:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #fff;
    background-color: #0078d7
}

.dxbs-focus-hidden .btn-outline-info.focus, .dxbs-focus-hidden .btn-outline-info:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-info.focus, .dxbs-focus-hidden .btn-group .btn-info:focus, .dxbs-focus-hidden .btn-group-vertical .btn-info.focus, .dxbs-focus-hidden .btn-group-vertical .btn-info:focus, .dxbs-focus-hidden .input-group .btn-info.focus, .dxbs-focus-hidden .input-group .btn-info:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-info.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-info:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-info.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-info:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-info.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-info:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-info.focus, .dxbs-focus-hidden .input-group > .btn-info:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-info.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-info:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-info.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-info:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-info.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-info:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-warning.focus, .dxbs-focus-hidden .btn-warning:focus {
    border-color: #ff9c00;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-warning.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-warning:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #212529;
    background-color: #ff9c00
}

.dxbs-focus-hidden .btn-outline-warning.focus, .dxbs-focus-hidden .btn-outline-warning:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-warning.focus, .dxbs-focus-hidden .btn-group .btn-warning:focus, .dxbs-focus-hidden .btn-group-vertical .btn-warning.focus, .dxbs-focus-hidden .btn-group-vertical .btn-warning:focus, .dxbs-focus-hidden .input-group .btn-warning.focus, .dxbs-focus-hidden .input-group .btn-warning:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-warning.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-warning:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-warning.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-warning:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-warning.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-warning:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-warning.focus, .dxbs-focus-hidden .input-group > .btn-warning:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-warning.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-warning:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-warning.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-warning:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-warning.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-warning:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-danger.focus, .dxbs-focus-hidden .btn-danger:focus {
    border-color: #e81123;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-danger.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-danger:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #fff;
    background-color: #e81123
}

.dxbs-focus-hidden .btn-outline-danger.focus, .dxbs-focus-hidden .btn-outline-danger:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-danger.focus, .dxbs-focus-hidden .btn-group .btn-danger:focus, .dxbs-focus-hidden .btn-group-vertical .btn-danger.focus, .dxbs-focus-hidden .btn-group-vertical .btn-danger:focus, .dxbs-focus-hidden .input-group .btn-danger.focus, .dxbs-focus-hidden .input-group .btn-danger:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-danger.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-danger:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-danger.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-danger:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-danger.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-danger:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-danger.focus, .dxbs-focus-hidden .input-group > .btn-danger:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-danger.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-danger:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-danger.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-danger:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-danger.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-danger:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-light.focus, .dxbs-focus-hidden .btn-light:focus {
    border-color: #f7f8f9;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-light.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-light:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #212529;
    background-color: #f7f8f9
}

.dxbs-focus-hidden .btn-outline-light.focus, .dxbs-focus-hidden .btn-outline-light:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-light.focus, .dxbs-focus-hidden .btn-group .btn-light:focus, .dxbs-focus-hidden .btn-group-vertical .btn-light.focus, .dxbs-focus-hidden .btn-group-vertical .btn-light:focus, .dxbs-focus-hidden .input-group .btn-light.focus, .dxbs-focus-hidden .input-group .btn-light:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-light.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-light:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-light.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-light:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-light.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-light:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-light.focus, .dxbs-focus-hidden .input-group > .btn-light:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-light.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-light:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-light.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-light:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-light.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-light:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-dark.focus, .dxbs-focus-hidden .btn-dark:focus {
    border-color: #222;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2) !important
}

.dxbs-focus-hidden .btn-dark.focus:not(:hover):not(.hover):not(:active):not(.active), .dxbs-focus-hidden .btn-dark:focus:not(:hover):not(.hover):not(:active):not(.active) {
    color: #fff;
    background-color: #222
}

.dxbs-focus-hidden .btn-outline-dark.focus, .dxbs-focus-hidden .btn-outline-dark:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .btn-group .btn-dark.focus, .dxbs-focus-hidden .btn-group .btn-dark:focus, .dxbs-focus-hidden .btn-group-vertical .btn-dark.focus, .dxbs-focus-hidden .btn-group-vertical .btn-dark:focus, .dxbs-focus-hidden .input-group .btn-dark.focus, .dxbs-focus-hidden .input-group .btn-dark:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-dark.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append .btn-dark:focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-dark.focus, .dxbs-focus-hidden .input-group > .input-group-append .btn-dark:focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-dark.focus, .dxbs-focus-hidden .input-group > .input-group-prepend .btn-dark:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.dxbs-focus-hidden .input-group > .btn-dark.focus, .dxbs-focus-hidden .input-group > .btn-dark:focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-dark.focus, .dxbs-focus-hidden .input-group > .dxbs-input-group-append > .btn-dark:focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-dark.focus, .dxbs-focus-hidden .input-group > .input-group-append > .btn-dark:focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-dark.focus, .dxbs-focus-hidden .input-group > .input-group-prepend > .btn-dark:focus {
    border-color: #ced4da
}

.dxbs-focus-hidden .btn-link.focus, .dxbs-focus-hidden .btn-link:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none
}

.dxbs-menu .dropdown-menu.dx-dropdown-menu {
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.18);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.18)
}
