﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/" target="_blank">Link</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
